.sideBar {
  width: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: all 0.5s ease;

  margin-right: 16px;
  padding: 8px;
  gap: 32px;

  background: #ffffff;
  border-radius: 8px;

  .burger,
  a {
    width: 40px;
    height: 40px;
    .linkText {
      display: none;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    gap: 32px;

    .linkItem {
      text-decoration: none;
      font-size: 20px;
      line-height: 24px;
      color: #1a1f16;

      &.activeLink {
        color: #ffffff;
        background: #1a1f16;
        border-radius: 10px;
        img {
          background-color: #ffffff;
        }
      }
    }
  }

  .burger,
  .linkItem {
    padding: 10px;
  }

  img {
    width: 20px;
    height: 20px;
  }

  .logOut {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e5252c;
    border-radius: 10px;
  }
}

.activeSideBar {
  width: 140px;
  .wrapper {
    width: 100%;
  }
  .burger,
  .linkItem {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;

    .linkText {
      display: flex;
    }
  }
  .logOut {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    span {
      display: flex;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
    }
  }
}
