.catalogItem {
  max-width: 191px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .itemImg {
    object-fit: contain;
    padding: 16px;
    width: 159.36px;
    height: 200px;
    background: #ffffff;
    border-radius: 22px;
  }

  h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #1a1f16;
  }
  h5 {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #60695c;
  }
  .action {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .price {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #1a1f16;
    }
    .addBtn {
      width: 34px;
      height: 34px;
    }
  }
}
