.reviewBag {
  padding: 16px;
  width: 100%;

  background: #ffffff;
  border-radius: 13px;

  h3 {
    font-size: 31.25px;
    line-height: 38px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #1a1f16;
  }
}
